<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<form action="/account/edit-account" method="post">
    <h2>Edit Account Information</h2>

    <label for="account_firstname"> First Name</label>
    <input type="text" name="account_firstname" id="account_firstname" autocomplete="given-name" required
        <% if (locals.account_firstname) { %>
            value="<%= locals.account_firstname %>">
        <% } else { %>
            value="<%= locals.accountData.account_firstname %>">
        <% } %>

    <label for="account_lastname">Last Name</label>
    <input type="text" name="account_lastname" id="account_lastname" autocomplete="family-name" required
        <% if (locals.account_lastname) { %>
            value="<%= locals.account_lastname %>">
        <% } else { %>
            value="<%= locals.accountData.account_lastname %>">
        <% } %>

    <label for="account_email">Email</label>
    <input type="email" name="account_email" id="account_email" required 
        <% if (locals.account_email) { %>
            value="<%= locals.account_email %>">
        <% } else { %> 
            value="<%= locals.accountData.account_email %>">
        <% } %>
    
    <button type="submit">Update</button>

    <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
</form>

<form action="/account/update-password" method="post">
    <h2>Update Password</h2>

    <label for="account_password">Password</label>
    <input type="password" name="account_password" id="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

    <p>Password must be:</p>
    <ul>
        <li>12 characters in length, minimum</li>
        <li>contain at least 1 capital letter</li>
        <li>contain at least 1 number</li>
        <li>contain at least 1 special character</li>   
    </ul>
    
    <p>*note your original password will be changed.</p>

    <button type="submit">Change Password</button>

    <input type="hidden" name="account_id" value="<%= locals.accountData.account_id %>">
</form>